
<div class="heading1">
      <span> Job Description : </span>
      <span class="heading2"> Head of Ethics and Compliance </span>
</div>
<div class="row">
  <div class="col-md-4"#skillsDiv>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Skills</th>
              </tr>
          </thead>
          <tbody  style="border: 1px #F3F5F7 solid; color: black" >
              <tr *ngFor="let skill of this.skills; let i = index" (click)="skillRowClick(skill,i)" [class.active]="i == selectedRow">
                  
        <td>{{skill.skill}}</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="col-md-4" #standardSkillsDiv>
      <table class="table"  id="standardtable">
          <thead>
              <tr>
                  <th>Standard Skills</th>
              </tr>
          </thead>
          <tbody  style="border: 1px #F3F5F7 solid" >
              <tr *ngFor="let skill of this.standardSkills; let i = index" class="d-inline-block" (click)="standSkillRowClick(skill,i)" [class.active]="skill.selected"  [class.inactive]="!skill.selected">
                  <div class="col hand">{{skill.skillName}}
                    </div>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="col-md-4" #mappedSkillsDiv>
      <table class="table mtable" id="mappedtable">
          <thead>
              <tr>
                  <th>Skills</th>
              </tr>
          </thead>
          <tbody  style="border: 1px #F3F5F7 solid" >
              <tr *ngFor="let skill of this.mappedSkills; let i = index" class="d-inline-block" (click)="mappedSkillRowClick(skill,i)" [class.active]="true">
                  <div class="col  hand">{{skill.skillName}}
                    </div>
              </tr>
              
          </tbody>
      </table>
  </div>
</div>
