.heading1 {
    margin-left: 25px;
    margin-top: 15px;
    height: 40px;
}.heading2 {
    margin-left: 10px;
    font-weight: 700
}
.table {
  height: 600px;
}
.mtable {
  height: 600px;
}
.mtable th{
  padding-left: 25px;
  background-color:#F3F5F7 !important;
}
.mtable > tbody {
  height: 600px;
  background-color: #F3F5F7;
}
.table tr.active td {
    background-color:#D3EEFD !important;
    color: black;
  }
  #standardtable tr.active div {
    background-color:#D3EEFD !important;
    color: black;
    margin: 5px;
    padding-left: 5px;
    padding: 3px;
    border: 2px #F3F5F7 solid;
  }
  #standardtable tr.inactive div {
    background-color:#F3F5F7 !important;
    color: black;
    margin: 5px;
    padding: 3px;
    border: 2px #F3F5F7 solid;
  }
  #mappedtable tr.active div {
    background-color:#00B4AA !important;
    color: white;
    margin: 5px;
    padding: 3px;
    border: 2px solid;
  }
  .table th{
    padding-left: 25px;
    background-color:#F3F5F7 !important;
  }
  .table tr{
      margin-left: 5px;
  }
  .hand {
      cursor: pointer;
  }