.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

span {
    color: #E4E7EC;
    font-size:17px;
}

li > span {
    color: #E4E7EC;
    font-weight: 500;
    font-size:18px;
}